
*.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
*.html
data/cifar-10-batches-py/test_batch
*.gz
*.pyc
result/events.out.tfevents.1613863715.Zhaowei-NUC
result/log.txt
utils/test.ipynb
